doctype html
html
  head
    meta(charset="UTF-8")
    title KYC Request Submitted
  body
    p Hello #{email},
    p Thank you for submitting your KYC request. We have received your information and your request is currently #{status}.
    p Our team is reviewing your submission and will get back to you shortly. In the meantime, please ensure that all your documents are accurate and up to date.
    p If additional information is required, we will contact you via this email.
    p Thank you for your patience and cooperation.
    p Best regards,
    p The Compliance Team